/* body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    height: 100%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
} */

.maincontent{
    background-color: white;
    height: 543px;
    width: 25%;
    margin-left: 37%;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 15px;
    min-width:313px;
    text-align: center;
    font-size: 120%;
    background-repeat: no-repeat;
    padding: 0; 
    z-index: 0;
    position: fixed;
}

.hero{
    margin: -1px;
    margin-left: -1px;
    width: 100%;
    border-radius: 15px 15px 0 0;

}

.order{
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    margin-bottom: 100px;
    text-align: center;
    color: rgb(3, 3, 85);
}

.whitespace{
    height: 26px;
}

.desc{
    font-size: 0.8em;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.plan{
    background-color: rgb(245, 243, 250);
    border-radius: 5px;
    margin-left: 40px;
    margin-right: 40px;
    height: 70px;
}

.change{
    position: absolute;
    margin-right: 5px;
    margin-top: 4px;
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
    
}

.icon{
    float: left;
    margin-top: 14px;
    height: 41px;
    width: 41px;
    margin-left: 15px;
}

.annualplan{
    float: left;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(4, 4, 90);
    margin-top: 15px ;
    margin-left: 12px;
}

.amount{
    float: left;
    margin-top: 16px;
    margin-left: -86px;
    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

#payment{
    width: 80%;
    height: 40px;
    border-radius: 7px;
    background-color: rgb(7, 7, 216);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 6px 16px rgb(173 173 226)   ;
}

#cancelorder{
    margin-top: 28px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: gray;
    
}

#img1{
    width: 100%;
    position: fixed;
    z-index: 0;
    margin-left: -10px;
    margin-top: -61px;
    /* visibility: hidden; */
}

#img2{
    transform: rotate(180deg);
    width: 100%;
    height: 700px;
    filter: brightness(105%);
    margin-top: 114px;
    margin-left: -10px;
    position: fixed;
    z-index: -1;
    /* visibility:hidden; */
}

#payment:active{
    background-color:rgb(4, 4, 153) ;
}

#payment:active,#payment:visited{
    color: white;
    text-decoration: none;
}

a.paylink:visited,a.paylink:link{
    background-color: rgb(7, 7, 216);
}

a.cancellink:link,a.cancellink:active,a.cancellink:visited{
    color: gray;
    text-decoration: none;
}

.changelink:visited,.changelink:active{
    color: blue;
    text-decoration: none;
}

.attribution{
    position: fixed;
    font-size: 20px;
}
